.button-container {
  display: flex;
  /* background-color: rgb(27, 133, 219); */
  position: fixed;
  z-index: 9999;
  background-color: transparent;
  width: 100vw;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  animation: blackTrans 0.25s forwards;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, */
    /* rgba(27, 133, 219, 0.5) 5px 10px 15px; */
}

.button-container-active {
  display: flex;
  /* background-color: rgb(27, 133, 219); */
  position: fixed;
  z-index: 9999;
  background-color: transparent;
  width: 100vw;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  animation: transBlack 0.5s forwards;

}

@keyframes blackTrans {
  from {
    background-color: black;
  }

  to {
    background-color: transparent;
  }
}

@keyframes transBlack {
  from {
    background-color: transparent;
  }

  to {
    background-color: black;
  }
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 10%;
  height: 30px;
  border-radius: 2%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-2px);
  background-color: rgb(0, 0, 139);
}

.icon {
  font-size: 20px;
}
